* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 50%;
  background-color: aqua;
  padding: 1rem;
}
.questionContainer {
  height: 20%;
  width: 100%;
}
.question {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  flex-wrap: wrap;
}
.answerContainer {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.answer {
  height: 20%;
  width: 100%;
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: large;
  font-weight: 500;
}
.button {
  height: 10%;
  width: 100%;
  font-size: x-large;
}
